*.flatpak
tmp*.*
tmp.*
*.bak
.flatpak-builder
amulet-flatpak_build_dir
watch.sh
.vscode
.lock
*.lock
speed-run.sh
amulet_run_2024-10-07 00-05-12-terminal.log
amulet-x86_84.tar.gz
amulet-x86_84.tar.gz
*.log
amulet-x86_64.flatpak.zip
do_this.sh.new
transparency_cache_prettified.json
water_list.json
.gnome-terminal.log.swp
konsole.log.txt
do_this.sh-endeavouros.log.txt
*.log
*.new
