[Desktop Entry]
Version=1.0
Type=Application
Name=Amulet Minecraft Map Editor (Flatpak Edition)
Comment=A powerful map editor for Minecraft worlds
Categories=Game;KidsGame;
Icon=io.github.evilsupahfly.amulet_flatpak
Exec=flatpak run io.github.evilsupahfly.amulet_flatpak
Terminal=true
Name[en_CA]=io.github.evilsupahfly.amulet_flatpak.desktop
GenericName[en_CA]=A powerful map editor for Minecraft worlds
