versioneer
pybind11
backend
cmake
packaging
pyproject-metadata
meson-python
pyopengl
numpy
pillow
lz4
wxpython
mutf8
platformdirs
portalocker
pymctranslate
amulet-core
amulet-map-editor
amulet-leveldb
amulet-nbt
minecraft-resource-pack
amulet-pybind11-extensions
amulet_faulthandler
amulet-rocksdb