versioneer
pyyaml
xapp
mutf8
meson-python
numpy
setuptools
setuptools_scm[toml]>=6.2
requirements-parser
lz4
packaging
pillow
platformdirs
portalocker
PyMCTranslate
PyOpenGL
pyopengl-accelerate
wxPython
amulet-core
amulet-leveldb
amulet-map-editor
amulet-nbt
minecraft-resource-pack
