versioneer~=0.29
meson-python~=0.16.0
meson~=1.4.1
setuptools>=45
setuptools_scm[toml]>=6.2
pip>=24
pyyaml~=6.0
numpy>=1.17
packaging>=21.3
pkgconfig~=1.5
wxpython>=4.2.1
pyopengl>=3.1.0
pyopengl-accelerate>=3.0
amulet-core
amulet-nbt
amulet-map-editor
Amulet-LevelDB
pymctranslate>=1.2
minecraft-resource-pack>=1.3
