versioneer
meson-python
setuptools==69.5.1
cython
requirements-parser
PyYAML
platformdirs
mutf8
packaging
pyopengl
pyopengl-accelerate
numpy
lz4
Pillow>=10.0.1
packaging
wxPython
six
portalocker
amulet-core
amulet-map-editor
amulet-leveldb
amulet-nbt
minecraft-resource-pack
